<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".ExpenseTrackerApp"
        android:allowBackup="true"
        android:label="Expense Tracker"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExpenseTracker">
        <activity android:name=".MainActivityReference" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivityV3" android:exported="false" />
        <activity android:name=".MainActivityV2" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />
        <receiver
            android:name=".widget.ExpenseWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/expense_widget_info" />
        </receiver>
    </application>
</manifest>
